<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href='/static/main.css' />
</head>

<body>
    <div class="header">
        <div class="title">Agreement Engine</div>
    </div>

    <div class="tab_container">
        <div class="tab">
            <button onclick="window.location.href='/home'">home</button>
            <button onclick="window.location.href='/about'">about</button>
            <button onclick="window.location.href='/help'">help</button>
            <button onclick="window.open('https://github.com/metagov/agreements-prototype', '_blank')">source</button>
            <button onclick="window.open('https://metagov.org', '_blank')">metagov</button>
        </div>
    </div>

    <div class="text">
        <p>
            The Agreement Engine is a software model for the creation, representation, and enforcement of all different kinds of agreements. 
            We are currently prototyping a model of enforcement that uses a tokenized form of social capital we call TSC.
            To read more about what Agreement Engine is and how TSC works, check out our 
            <a href="https://docs.google.com/document/d/1GNHmhB-xOhOfmrP__F6OY9dQMqF_ZvuM_WBO0GIeRqs/edit?usp=sharing">blog post</a>.
        </p>
        <p>
            To follow Agreement Engine's development, take a look at our
            <a href="https://docs.google.com/document/d/1Gy8tMuRrCbK3i7Go6s-sUK6nHNOz81ccfYzKQXeiW2E/edit?usp=sharing">progress and development goals</a>.
            You can find our code base and contribute on
            <a href="https://github.com/metagov/agreements-prototype">GitHub</a>.
        </p>
        <p>
            Agreement Engine is part of the larger Metagovernance Project.
            Check out <a href="https://metagov.org">metagov.org</a> for more information!
        </p>
    </div>
    
</body>

</html>