<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href='/static/main.css' />
</head>

<body>
    <div class="header">
        <div class="title">Agreement Engine</div>
    </div>

    <div class="tab_container">
        <div class="tab">
            <button onclick="window.location.href='/home'">home</button>
            <button onclick="window.location.href='/about'">about</button>
            <button onclick="window.location.href='/help'">help</button>
            <button onclick="window.open('https://github.com/metagov/agreements-prototype', '_blank')">source</button>
            <button onclick="window.open('https://metagov.org', '_blank')">metagov</button>
        </div>
    </div>
    
    <div class="text">
        <ul>
            <li>generate</li>
            <li>execute</li>
            <li>balance</li>
            <li>likes</li>
            <li>retweets</li>
            <li>agreement</li>
            <li>upheld</li>
            <li>broken</li>
        </ul>
        <div class="tab">
            <button onclick="window.open('https://twitter.com/intent/tweet?text=@agreementengine%20agreement%20with%20@agreementengine%20I%20promise%20to%20be%20a%20good%20user.')">Tweet!</button>
        </div>
    </div>
        
</body>

</html>