<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href='/static/main.css' />
</head>

<body>
    <div class="header">
        <div class="title">Agreement Engine</div>
    </div>

    <div class="tab_container">
        <div class="tab">
            <button onclick="window.location.href='/home'">home</button>
            <button onclick="window.location.href='/about'">about</button>
            <button onclick="window.location.href='/help'">help</button>
            <button onclick="window.open('https://github.com/metagov/agreements-prototype', '_blank')">source</button>
            <button onclick="window.open('https://metagov.org', '_blank')">metagov</button>
        </div>
    </div>
    
    <div class="text">
        <p>
            
        </p>
        <p>
            <b>generate</b> (number) (likes/retweets)
            <br><a href="https://twitter.com/intent/tweet?text=@agreementengine%20generate%205%20likes" target="_blank">
                try it yourself!
            </a>
        </p>
        <p>
            <b>execute</b> (number) <i>in reply to</i>
        </p>
        <p>
            <b>balance</b>
            <br><a href="https://twitter.com/intent/tweet?text=@agreementengine%20balance" target="_blank">
                try it yourself!
            </a>
        </p>
        <p>
            <b>likes</b>
            <br><a href="https://twitter.com/intent/tweet?text=@agreementengine%20likes" target="_blank">
                try it yourself!
            </a>
        </p>
        <p>
            <b>retweets</b>
            <br><a href="https://twitter.com/intent/tweet?text=@agreementengine%20retweets" target="_blank">
                try it yourself!
            </a>
        </p>
        <p>
            <b>agreement</b> (number) (type)
            <br><a href="https://twitter.com/intent/tweet?text=@agreementengine%20agreement%20@agreementengine%20I%20won't%20lie" target="_blank">
                try it yourself!
            </a>
        </p>
        <p>
            <b>upheld</b>
        </p>
        <p>
            <b>broken</b>
        </p>
    </div>
        
</body>

</html>