body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    display: grid;
    justify-items: center;
}

.title {
    font-size: 60px;
    padding: 20px;
    padding-bottom: 10px;
}

.status {
    display: grid;
    justify-items: center;
    padding: 15px;
    font-size: 20px;
    margin: 10px;
}

.tab_container {
    display: grid;
    justify-items: center;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 10px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 50px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.text {
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 20px;
}

a {
    color: #2687B6;
}